@model LinkedIn.Models.Address

@{
    ViewBag.Title = "Address";
    Layout = "~/Views/Shared/_loginLayout.cshtml";
}

@section login{

    <h2 class="text-primary">Address Information</h2>

}

<h2 style="color:cadetblue; text-align:center">Add some information about your address</h2>

@using (Html.BeginForm("Address", "default", FormMethod.Post))
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal col-10" style="margin:auto">

        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })

        <div class="form-group">
            @Html.LabelFor(model => model.country, htmlAttributes: new { @class = "control-label col-md-5" })
            <div class="col-md-12">
                @Html.EditorFor(model => model.country, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.country, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.Label("State", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-12">
                @Html.EditorFor(model => model.state_country_province, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.state_country_province, "", new { @class = "text-danger" })
            </div>
        </div>
        <div class="form-group">
            @Html.LabelFor(model => model.city, htmlAttributes: new { @class = "control-label col-md-5" })
            <div class="col-md-12">
                @Html.EditorFor(model => model.city, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.city, "", new { @class = "text-danger" })
            </div>
        </div>



        <div class="form-group">
            @Html.LabelFor(model => model.line_1, htmlAttributes: new { @class = "control-label col-md-5" })
            <div class="col-md-12">
                @Html.EditorFor(model => model.line_1, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.line_1, "", new { @class = "text-danger" })
            </div>
        </div>

        

            @*<div class="form-group">
                @Html.LabelFor(model => model.zip_or_postcode, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.zip_or_postcode, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.zip_or_postcode, "", new { @class = "text-danger" })
                </div>
            </div>*@



        <div class="form-group">
            @Html.LabelFor(model => model.other_details, htmlAttributes: new { @class = "control-label col-5" })
            <div class="col-md-12">
                @Html.TextArea("other_details", new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.other_details, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-row">
            <div class="form-group col-md-6">
                <div class="col-md-offset-2 ">
                    <input type="submit" value="OK" class="btn btn-primary" />
                </div>
            </div>
            @*<div class="form-group col-md-6 text-right">
                <div class="col-md-offset-2 ">
                    @Html.ActionLink("Skip", "personalInfo", "", new { @class = "btn btn-outline-secondary" })
                </div>
            </div>*@
        </div>
    </div>
}




